<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer), class: "btn btn-primary" %> |
  <%= link_to "Back to customers", customers_path, class: "btn btn-primary" %>
  
  
  <div class="mt-5">
    <% title_num = 1 %>
    <% @customer.order.each do |o| %>
      <h3>Order <%= "#{title_num}" %></h3>
      <%= render o %>
      <% title_num += 1 %>
    <% end %>
  </div>
</div>
