<div id="<%= dom_id order %>">
  <p class="card-header">
    <%= order.product_name %>
  </p>

  <p class="card-body">
    <%= order.customer.full_name %> is buying <%= order.product_count %>
  </p>
  
  <p class="card-footer">
    <%= link_to "Edit", edit_order_path(order), class: 'btn btn-primary' %> |
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal-<%= order.id%>">Delete</button>
  </p>
</div>